ALTER TABLE inventory\nADD COLUMN tile_width_value numeric,\nADD COLUMN tile_width_unit text,\nADD COLUMN tile_height_value numeric,\nADD COLUMN tile_height_unit text;\n\nUPDATE inventory\nSET\n  tile_width_value = tile_width,\n  tile_width_unit = 'ft',\n  tile_height_value = tile_height,\n  tile_height_unit = 'ft'\nWHERE tile_width_value IS NULL OR tile_height_value IS NULL;
